@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("/assests/Poppins/Poppins-Medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  src: url("/assests/Poppins/Poppins-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("/assests/Poppins/Poppins-SemiBold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  src: url("/assests/Poppins/Poppins-ExtraBold.ttf");
  font-display: swap;
}