// theme colors
$link-water-50: #f3f8fc;
$link-water-100: #e0edf5;
$link-water-200: #c9e2ee;
$link-water-300: #9acadf;
$link-water-400: #64aecc;
$link-water-500: #4094b7;
$link-water-600: #2f789a;
$link-water-700: #27617d;
$link-water-800: #245168;
$link-water-900: #224558;
$link-water-950: #172d3a;

// font-color
$text-dark: #313131;

// spacing
$base-padding: 0.75rem;
$base-margin: 0.75rem;

// borders
$base-border-thickness: 1px;
$base-border-radius: 20px;

// box-shadow
$base-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
  rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

// font sizes
$base-font-size: 1rem;
